/* ForgotPassword.module.css */

.container {
    
    margin: 0 30px;
    background-color: #ffffff;
    padding: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .message {
    margin: 0 0 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
  }
  
  .error {
    color: #d9534f;
    margin-top: 8px;
  }
  
  .submitButton {
    padding: 12px;
    cursor: pointer;
    background-color: #429643;
    color: #fff;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    margin-left: 16px;
  }

  .input {
    width: 100%;
    padding: 12px ;
    margin-top: 8px ;
    border: 1px solid #ddd ;
    border-radius: 6px ;
    outline: none ;
    font-size: 14px;
    
  }

  .input:focus{
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0.027);
  }

  .inputContainer{
    width: 350px;
    
  }